/* load fonts */
@font-face {
    font-family: Lexend;
    src: url('/lexend.ttf');
}

/* remove margins and padding and use border-box */
html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

/* set html and body font, height, and width and hide overflow */
html, body {
    color: black;
    font: 16px/1.5em Lexend;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* remove text-decoration on links */
a, a:active, a:visited {
    color: blue;
    text-decoration: none;
}

/* set display to block for img and iframe */
img, iframe {
    display: block;
}

/* set heading font */
h1 {
    font: 48px/1em Lexend;
}
h2 {
    font: 32px/1em Lexend;
}
h3 {
    font: 24px/1em Lexend;
}

/* set mono font */
code, pre, samp {
    font: bold 16px/1.5em @font[mono];
}

/* root element */
#root {
    background-image: url('/images/maryland-heights-sm.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

/* change background resolution for large screens */
@media (min-width: 900px) {
    #root {
        background-image: url('/images/maryland-heights-md.png');
    }
}
@media (min-width: 1500px) {
    #root {
        background-image: url('/images/maryland-heights-lg.png');
    }
}

/* navbar */
#effects {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 100vw;
    position: relative:
    z-index: 2;
}
#effects > button {
    background-color: white;
    border: 1px solid black;
    border-radius: 0px;
    cursor: pointer;
    margin: 0px 24px;
    height: 24px;
    width: 100px;
}

/* screen */
#screen {
    height: 100vh;
    width: 100vw;
    position: relative;
    top: -48px;
    z-index: 1;
}